aiogram>=3.28.0,<4
fastapi==0.115.2
uvicorn[standard]==0.30.6
SQLAlchemy==2.0.35
asyncpg==0.30.0
alembic==1.13.3
pydantic-settings==2.6.0
python-dotenv==1.0.1
httpx==0.27.2
python-multipart==0.0.9
yookassa==3.4.1
scikit-learn==1.5.2
joblib==1.4.2
pymorphy3==2.0.2
pymorphy3-dicts-ru==2.4.417150.4580142
openpyxl==3.1.5
Pillow==11.0.0
pytesseract==0.3.13
numpy==2.1.3
redis==5.2.1
